<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" th:src="@{/static/lib/jquery-1.8.2.js}"></script>
    <meta charset="UTF-8">
    <title>班级信息修改</title>
    <script>
        $(function () {
            $("form").submit(function () {
                var cname=$("[name='cname']").val().trim();
                if (cname==''){
                    alert("班级名不能为空！");
                    return false;
                }
            })
        })
    </script>
</head>
<body>
    <form action="/cls/update">
        <input type="hidden" th:value="${classes.id}" name="id" />
        <table>
            <tr>
                <td>班级名：</td>
                <td><input type="text" th:value="${classes.cname}" name="cname"/></td>
            </tr>
            <tr>
                <td>班级人数：</td>
                <td><input type="text" th:value="${classes.cnum}" title="通过联表统计" name="cnum" readonly="readonly"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="修改"/></td>
            </tr>
        </table>
    </form>
</body>
</html>