<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/lib/jquery-1.8.2.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <script th:inline="javascript">
        layui.use('laypage', function(){
            $(function () {

            })
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'page', //注意，这里的 test1 是 ID，不用加 # 号
                count: [[${pageInfo.total}]], //数据总数，从服务端得到
                limit: [[${pageInfo.pageSize}]],
                limits:[1,2,3,4,5],
                curr:[[${pageInfo.pageNum}]],
                groups:5,
                layout:['count','prev','page','next','limit','refresh','skip'],
                jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log(obj.limit); //得到每页显示的条数

                    //首次不执行
                    if(!first){
                        //do something
                        location.href="/cls/list?currentPage="+obj.curr+"&pageSize="+obj.limit;
                    }
                }
            });
        });
    </script>
</head>
<body>
    <div id="page"></div>
</body>
</html>